/* MediaList.css */

.media-list-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    overflow-y: auto; /* Make the container scrollable */
    max-height: 120vh; /* Set a maximum height for the scrollable area */
}

.media-card {
    background-color: #f7f3f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 55%;
    max-width: 800px; /* Limit the width of the media cards */
    margin-bottom: 20px;
}

.media-description {
    font-size: 18px;
    margin-bottom: 10px;
}

.media-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.action-button {
    background-color: #060809;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.action-button.like-button[liked="true"] {
    background-color: #884766;
}

.action-button.comment-button[commented="true"] {
    background-color: #28a745;
}

.action-button.share-button {
    background-color: #060809;
}

.action-button.edit-button {
    background-color: #884766;
}

.action-button:hover {
    opacity: 0.8;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px; /* Add margin-right to create space */
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    opacity: 0.8;
}

.delete-confirmation {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.delete-confirmation button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px; /* Add margin-right to create space between buttons */
    transition: background-color 0.3s ease;
}

.delete-confirmation button:last-child {
    margin-right: 0; /* Remove margin-right for the last button */
}

.save-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    opacity: 0.8;
}

.media-carousel img,
.media-carousel video {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
}
