.cardm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(../Images/addm.jpeg);
  background-size: cover;
}

.preview-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.preview-image-large, .preview-video-large {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

/* Override Bootstrap's default button styles */
.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #884766;
  border: 1px solid #884766;
  color: #fff; /* Set text color to white */
}

.btn.btn-primary:hover {
  background-color: #b16f8f;
}

/* Remove blue outline from all elements */
*:focus {
  outline: none !important;
}
